/* Styles for the document body */
body {
  margin: 0;
  background-color: #EDDAA6;
  font-family: var(--font-tex-primary); /* Asegúrate de aplicar la fuente correctamente */
  height: 10000px;
}

a {
  color: var(--color-primary);
}

img {
  width: 70px;
  height: 70px;
}

/* Define color variables in root */
:root {
  --color-primary: #324149;
  --color-interactive-elements: #57b89f;
  --color-text: #072527;
  --color-secondary: #393E46;
  --font-tex-primary: 'Roboto', Geneva, sans-serif;
}

#root {
  font-size: 15px;
  
}

/* Styles for nav */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Valor alto para asegurar que esté por encima de otros elementos */
  padding: 20px; /* Espaciado interno del menú */
  background-color: #EDDAA6;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 800px; /* Ancho máximo para el contenido */
  padding: 0 20px;
   
}

.nav-link {
  margin-right: 20px;
  text-decoration: none;
  color: var(--color-primary); /* Color de los enlaces */
}

.navbar-brand {
  text-decoration: none;
  font-style: italic;
  color: var(--color-primary); /* Color del texto del navbar */
}

.content{
    
    margin-top: 200px;
    font-size: 4em;
    text-align: center;
    font-family: Georgia;
    justify-content: center;
    
    
    
}

 .intro-tittle{

  box-shadow: 20px 10px 10px rgba(0, 0, 0, 0.2);
 }
 .intro-name{

  margin-top: 30px;

 }
/* Media Query para pantallas pequeñas */
@media screen and (max-width: 850px) {
  .me-auto {
    display: none;
  }

  .navbar-brand {
    display: none;
  }

  .content{
    
    margin-top: 80px;
    font-size: 3em;
    
    
    
}
}
